body {
    background-color: #fefce9;
    color: #00303b;
    font-family: "Lora", Arial;
    font-size: 18pt;
    text-align: center;
    height: 100vh;
}

div {
    width: 100%;
}

#biglogo {
    display: block;
    height: 40vh;
    margin: 30px auto 0px auto;
}

#logo {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    height: 3.5em;
}

#game_image {
    display: block;
    height: 30vh;
    margin: 30px auto;
}

#game_image>h2 {
    font-size: 14pt;
}

#help {
    display: inline;
    background-color: transparent;
    padding: 0px;
    margin: 6px 0px 0px 5px;
}

#help_box {
    display: none;
    position: fixed;
    top: 25%;
    left: 10%;
    width: 80%;
    height: fit-content;
    padding: 10%;
    background-color: #00303b;
    color: #fefce9;
    border: solid #d29a87 3px;
    border-radius: 15px;
    text-align: left;
}

#exit_help {
    position: absolute;
    top: 0px;
    right: 15px;
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 10px 10px 0px 10px;
    text-align: left;
    column-gap: 10px;
    border-bottom: solid #00303b 2px;
}

h1 {
    font-size: 10vmin;
    margin: auto;
    font-weight: 700;
}

h2 {
    font-size: 6vmin;
    font-weight: 300;
}

h3 {
    font-size: 4vmin;
    font-weight: 300;
}

button, input[type=submit], .button {
    display: block;
    height: fit-content;
    width: fit-content;
    background-color: #d29a87;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 30px;
}

header button {
    margin: auto;
}

button:hover, input[type=submit]:hover, .button:hover {
    background-color: #fac5ac;
    text-decoration: solid underline;
}

form div {
    position: relative;
}


label {
    display: inline-block;
    width: 100%;
    height: fit-content;
    text-align: left;
    margin: 0px auto;
    padding: 0px 10px;
}

input[type=text] {
    background-color: white;
    border: solid #00303b 1px;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 2px 10px;
    margin-top: 5px;
}

::placeholder {
    color: #717e7a;
}

a:hover {
    text-decoration: solid underline;
}

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.col2>:nth-child(odd) {
    border-right: solid #00303b 1px;
}

ul {
    border-top: solid #00303b 1px;
    text-align: left;
    height: 60vh;
}

ul li {
    display: list-item;
    height: 6vh;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: min(80vw, 400px);
    margin: 0px auto;
    gap: 5px;
    font-size: min(4vw, 14pt);
}

form>div, form>:last-child, form>div>:first-child {
    grid-column: 1 / -1;
}

form>div {
    display: grid;
    grid-template-columns: auto 30px;
}

form>button, form>input[type=submit], form>a.button {
    width: min(100%, 165px);
}