<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora">
    <title>Maestro</title>
</head>
<body>
    <div><img src="{{ url_for('static', filename='images/maestro.png') }}" alt="maestro logo" id="biglogo"></div>
    <div>
        <h1>M a e s t r o</h1>
        <h2>A second set of ears.</h2>
        <a href="{{ url_for('game') }}" class="button" id="button">Get Started!</a>
    </div>
    <footer>
    </footer>
</body>
</html>